h1 {
  text-align: center;
  color: #fef1a2 !important;
}

.gameBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}
