.preloadImage {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -10;
  height: 1px;
}

.field {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  background-image: url("/assets/img/board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .players {
    position: absolute;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 100%;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 20;
  }
  .player-position {
    z-index: 10;
  }
  .card-stack {
    position: absolute;
    img {
      position: absolute;
      width: 120px;
    }
    .top-card {
      cursor: pointer;
      transition: all 125ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    .played-card {
      position: absolute;
      top: 0;
      right: 20px;
      transform: scale(1.1) translate(0, -12rem) rotate(-10deg);
    }
    .pick-card {
      animation: pick-card-animation 1s ease-in-out;
      transform: scale(1.1) translate(0, -12rem) rotate(-10deg);
    }
  }
}

.info-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  bottom: 0;
  left: 0;
  .info__description {
    width: 80dvw;
  }
  .add-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      text-align: center;
    }
  }
}
