.preloadImage {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -10;
  height: 1px;
}

.field {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url("/assets/img/board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 20;
  }

  .player-position {
    position: absolute;
    right: 0;
    z-index: 10;
  }

  .card-stack {
    position: absolute;

    img {
      position: absolute;
      width: 120px;
    }

    .top-card {
      cursor: pointer;
      transition: all 125ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    .played-card {
      position: absolute;
      top: 0;
      right: 20px;
      transform: scale(1.1) translate(0, -200px) rotate(-10deg);
    }

    .pick-card {
      animation: pick-card-animation 1s ease-in-out;
      transform: scale(1.1) translate(0, -200px) rotate(-10deg);
    }
  }
}
.info-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  bottom: 0;
  left: 0;

  .info__description {
    width: 80vw;
  }
  .add-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      text-align: center;
    }
  }
}

@media (max-width: 720px) {
  .pin-bottom {
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.7);
  }

  60% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1.1) translate(0, -200px) rotate(-10deg);
  }
}
