/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  mat-card {
    min-height: 5rem;
    background-color: transparent;
    mat-card-title {
      font-size: 1rem;
      line-height: normal;
    }
    mat-card-content {
      font-size: 1rem;
      line-height: normal;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  mat-card {
    min-height: 5rem;
    background-color: transparent;
    mat-card-title {
      font-size: 1rem;
      line-height: normal;
    }
    mat-card-content {
      font-size: 1rem;
      line-height: normal;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  mat-card {
    min-height: 10rem;
    background-color: transparent;
    mat-card-title {
      font-size: 2.5rem;
      line-height: normal;
    }
    mat-card-content {
      font-size: 2rem;
      line-height: normal;
    }
  }
}
