.gameOver {
  // background-image: url(../../assets/img/board.jpg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .gameOver__container {
    height: 80dvh;
    width: 60dvw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 16px;
    background-image: url(../../assets/img/gameOver.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }
}
